@model SpaViewModel;
<!DOCTYPE html>
<html lang="en" dir="ltr" class="www">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>go.super.fish</title>
        <meta name="generator" content="@GlobalShared.GetGeneratorString()"/>
        <meta name="config/user" content="@Model.User">
        <meta name="config/csrf-token" content="@Model.CsrfToken">
        <meta name="config/stats-endpoint" content="@Model.StatsHubEndpoint">
        <asset src="app.ts"/>
        <asset src="app.css"/>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
