<!DOCTYPE html>
<html lang="en" dir="ltr" class="www"><!--
     _))
    > *\     _~
    `;'\\__-' \_
       | )  _ \ \
     / / ``   w w
     w w
--><head>
    <base href="{{ path('root') }}">
    <meta charset="utf-8">
    <meta name="theme-color" content="#05bef9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A shortlink generator that just works">

    <title>go.super.fish</title>

    <link rel="canonical" href="{{ url('root') }}">
    <link rel="preconnect" href="https://auth.super.fish">
    <link rel="prefetch" href="https://auth.super.fish">

    <link rel="apple-touch-icon-precomposed" href="{{ static.getVersioned('apple-icon-precomposed.png') }}">

    {% for s in [57, 60, 76, 114, 120, 144, 180] %}<link rel="apple-touch-icon" sizes="{{ s }}x{{ s }}" href="{{ static.getVersioned("apple-icon-"~s~"x"~s~".png") }}">{% endfor %}
    {% for s in [36, 48, 72, 96, 144, 192] %}<link rel="icon" type="image/png" sizes="{{ s }}x{{ s }}" href="{{ static.getVersioned("android-icon-"~s~"x"~s~".png") }}">{% endfor %}
    {% for s in [16, 32, 96] %}<link rel="icon" type="image/png" sizes="{{ s }}x{{ s }}" href="{{ static.getVersioned("favicon-"~s~"x"~s~".png") }}">{% endfor %}
    {% for entry in static.getEntries('css') %}<link href="{{ entry }}" type="text/css" rel="stylesheet" nonce="{{ csp_nonce() }}">{% endfor %}
    {% for entry in static.getEntries('js') %}<script type="module" src="{{ entry }}" nonce="{{ csp_nonce() }}"></script>{% endfor %}
    {% for preload in static.getPreload() %}<link rel="modulepreload" href="{{ preload }}" nonce="{{ csp_nonce() }}">{% endfor %}
</head>
<body class="not-nirvana-fishfood" data-bridge="{{ bridge.getConfig() }}" data-user="{{ bridge.getUser() }}">
    {% block body %}{% endblock %}
</body>
</html>
