<!DOCTYPE html>
<html lang="en" dir="ltr" class="www"><!--
     _))
    > *\     _~
    `;'\\__-' \_
       | )  _ \ \
     / / ``   w w
     w w
--><head>
    <base href="{{ path('root') }}">
    <meta charset="utf-8">
    <meta name="theme-color" content="#05bef9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A shortlink generator that just works">

    <title>go.super.fish</title>

    <link rel="canonical" href="{{ url('root') }}">
    <link rel="preconnect" href="https://auth.super.fish">
    <link rel="prefetch" href="https://auth.super.fish">

    <link href="{{ get_versioned_asset('apple-icon-precomposed.png') }}" rel="apple-touch-icon-precomposed">

    {% for s in [57, 60, 76, 114, 120, 144, 180] %}<link href="{{ get_versioned_asset("apple-icon-"~s~"x"~s~".png") }}" rel="apple-touch-icon" sizes="{{ s }}x{{ s }}" >{% endfor %}
    {% for s in [36, 48, 72, 96, 144, 192] %}<link href="{{ get_versioned_asset("android-icon-"~s~"x"~s~".png") }}" rel="icon" type="image/png" sizes="{{ s }}x{{ s }}">{% endfor %}
    {% for s in [16, 32, 96] %}<link href="{{ get_versioned_asset("favicon-"~s~"x"~s~".png") }}" rel="icon" type="image/png" sizes="{{ s }}x{{ s }}">{% endfor %}
    {% for preload in get_preload_assets() %}<link href="{{ preload }}" rel="modulepreload" nonce="{{ csp_nonce() }}">{% endfor %}
    {% for entry in get_css_entries() %}<link href="{{ entry }}" type="text/css" rel="stylesheet" nonce="{{ csp_nonce() }}">{% endfor %}
    {% for entry in get_js_entries() %}<script src="{{ entry }}" type="module" nonce="{{ csp_nonce() }}"></script>{% endfor %}

    <script type="text/javascript" nonce="{{ csp_nonce() }}">
        window.Config = {};
        {% for key, val in get_bridge() %}
            window.Config.{{ key }} = "{{ val }}";
        {% endfor %}

        window.Config.User = {};
        {% if get_user()|length > 0 %}
            {% for key, val in get_user() %}
                window.Config.User.{{ key }} = {{ val|json_encode|raw }}
            {% endfor %}
        {% endif %}
    </script>
</head>
<body class="not-nirvana-fishfood">
    <noscript>This site requires JavaScript to be enabled.</noscript>
    {% block body %}{% endblock %}
</body>
</html>
